
noodles/.project

noodles/.classpath

noodles/.settings/org.eclipse.core.resources.prefs

*.prefs

*.MF

noodles/target/classes/META-INF/maven/org.icebing/noodles/pom.xml

*.class

noodles/target/classes/log4j.properties

noodles/target/classes/META-INF/maven/org.icebing/noodles/pom.properties
